main.sign-in {
  background: grey;
  background-image: url(../../assets/login_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-in .content {
  width: 600px;
  height: 400px;
  padding: 50px 100px;
  box-sizing: border-box;
  background: white;
}

.sign-in .brandmark {
  width: 135px;
  height: 21px;
  margin-right: 15px;
  fill: #29c160;
}

.sign-in .title {
  font-size: 0.9em;
  line-height: 18px;
  margin-top: 7px;
  color: rgba(0, 0, 0, 0.87);
}

.sign-in .subtitle {
  margin-top: 40px;
  margin-bottom: 7px;
  text-align: start;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.87);
}

.sign-in input {
  display: block;
  height: 40px;
  width: 394px;
  margin-top: 20px;
  font-family: "Muli", sans-serif;
  font-size: 0.8em;
  text-indent: 8px;
  color: rgba(0, 0, 0, 0.87);
}

.sign-in input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.38);
  opacity: 1; /* Firefox */
}

.sign-in button {
  margin-left: auto;
  width: 150px;
  height: 40px;
  background-color: #29c160;
  color: white;
  font-size: 0.9em;
  font-weight: 400;
}

.sign-in .error {
  height: 24px;
  width: 400px;
  margin-top: 6px;
  text-align: start;
  font-size: 0.6em;
  font-weight: 600;
  color: red;
}
