body {
  margin: 0;
  padding: 0;
}

.fullScreen {
  width: 100%;
  height: 100vh;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.flexContainer.centered {
  align-items: center;
  justify-content: center;
}

.flexContainer.spaced {
  justify-content: space-around;
}

.flexContainer.vertical {
  flex-direction: column;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
